<html>
<head>
    <title>FastElt</title>
    @await Html.PartialAsync("Meta")
    @await Html.PartialAsync("link")
    @await Html.PartialAsync("script")
</head>
<body class="skin-blue">
    @await Html.PartialAsync("top")
    <div class="wrapper row-offcanvas row-offcanvas-left">
        @await Html.PartialAsync("Left")
        <aside class="right-side">
            @RenderBody()
        </aside>
    </div>
</body>
</html>
<script>
    $(function(){
        $("#patient_right").css("width", ($(window).width() - 170));
        $(".left-side").css("height", ($(window).height() - $(".header").height()));
        $(".content").css("height", $(".skin-blue").height() - $(".header").height() - $(".content-header").height()-10);
    });
</script>
