<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/data">
                    <i class="fa fa-bar-chart-o"></i> <span>数据源</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/business">
                    <i class="fa fa-qrcode"></i><span>业务数据集</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/dic">
                    <i class="fa fa-laptop"></i><span>字典对照</span>
                </a>
            </li>
        </ul>
    </section>
</aside>