<header class="header">
    <label class="logo">FastEtl</label>
    <nav class="navbar navbar-static-top">
        <div class="sidebar-toggle" style="width:100%;">
            <table style="width:100%;color:#ffffff;margin-top:0px;font-size:15px;">
                <tr>
                    <td width="5%" align="left"></td>
                    <td width="5%" align="left"></td>
                    <td width="5%" align="left"></td>
                    <td width="20%" align="right"></td>
                </tr>
            </table>
        </div>
    </nav>
</header>